<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Details</title>
</head>
<body>
<h1>Cart Details</h1>
<table border="1">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.description}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.product.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
