<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Details</title>
</head>
<body>
<h1>Cart Details</h1>
<table border="1">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Quantity</th>
        <th>Price (Per Unit)</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.productDescription}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.pricePerUnit}"></td>
        <td th:text="${item.totalPrice}"></td>
    </tr>
    </tbody>
</table>
<div>
    <h3>Total Amount: <span th:text="${totalAmount}"></span></h3>
</div>
</body>
</html>
